@import "./fonts.css";

:root {
	color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Light theme variables */
	--primary-text-color: #181818;
	--secondary-text-color: #595959;
	--tertiary-text-color: #c7c7c7;

	--primary-background-color: white;
	--secondary-background-color: #f6f6f6;

	--border-color: #c7c7c7;
	--separator-color: rgba(0, 0, 0, 0.15);

	--brand-color-full: rgb(225, 254, 2);
	--brand-color-light: rgba(225, 254, 2, 0.8);

	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/* Dark theme variables */
:root[data-theme="dark"] {
	--primary-text-color: white;
	--secondary-text-color: #787878;
	--tertiary-text-color: #383838;

	--primary-background-color: #181818;
	--secondary-background-color: #272727;

	--border-color: #c7c7c7;
	--separator-color: rgba(255, 255, 255, 0.15);
}

body {
	background-color: var(--primary-background-color);
	color: var(--primary-text-color);

	margin: 0;
	font-family: var(--font-geist-mono);
	line-height: 1.5;
	font-weight: 400;
	font-size: 0.75rem;
}

.app {
	height: 100vh;
}

/* For system preference */
@media (prefers-color-scheme: dark) {
	:root:not([data-theme="light"]) {
		--primary-text-color: white;
		--secondary-text-color: #787878;
		--tertiary-text-color: #383838;

		--primary-background-color: #181818;
		--secondary-background-color: #272727;

		--border-color: #c7c7c7;
		--separator-color: rgba(255, 255, 255, 0.15);
	}
}

.back-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100dvw;
	position: fixed;
	bottom: 30px;
	z-index: 1000;
}

.back-button {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	gap: 10px;
	background-color: #272727a7;
	color: rgb(176, 176, 176);
	font-family: var(--font-geist-mono);
	text-decoration: none;
	font-size: 14px;
	border-radius: 8px;
	transition: all 0.3s ease;
}

.back-button:hover {
	color: white;
	background-color: var(--secondary-background-color);
}

.back-button-icon-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	transform: rotate(180deg);
}
