@import './fonts.css';

:root {
  color-scheme: light dark;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

  --primary-text-color: rgb(20, 20, 20);
	--secondary-text-color: rgb(176, 176, 176);
	--tertiary-text-color: rgb(210, 210, 210);

	--primary-background-color: rgb(255, 255, 255);
	--secondary-background-color: rgb(251, 251, 251);
	--tertiary-background-color: rgb(244, 244, 244);

	--border-color: #e0e0e0;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  
	margin: 0;
	font-family: var(--font-geist-mono);
  line-height: 1.5;
	font-weight: 400;
  font-size: .75rem;
}
